@import './variables.scss';
@import '../scss/fonts.scss';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

body {
    background-color: $main-color;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.header {
    z-index: 1000;
    background-color: $second-color;
    height: 70px;
    align-items: center;
    display: flex;
    position: fixed;
    width: 100%;

    .wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1440px;

        .logo {
            max-width: 15%;

            img {
                max-width: 80%;
            }
        }

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;

            a {
                color: white;
                font-size: 20px;
                transition: 0.3s;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }


    }

    @media (max-width: 860px) {
        .wrapper {
            justify-content: center;

            .logo {
                max-width: 25%;

                img {
                    max-width: 100%;
                }
            }

            nav {
                display: none;
            }
        }
    }
}

main {
    .promo {
        padding-top: 70px;
        margin-bottom: 100px;


        .container {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            position: relative;


            h1 {
                font-size: 64px;
                line-height: 64px;
                color: white;
                text-align: center;
                pointer-events: none;
                z-index: 999;
            }

            @media (max-width: 1000px) {
                h1 {
                    font-size: 32px;
                }
            }

            img {
                max-width: 80%;
                pointer-events: none;
            }

            a {

                color: white;
                font-size: 40px;
                cursor: pointer;
                border: 5px solid white;
                max-width: 100%;
                border-radius: 20px;
                padding: 10px;
                z-index: 999;
                transition: 0.5s;
                animation: scaleAnimation 2s infinite;

                &:hover {
                    transform: scale(1.1);
                }
            }

            @media (max-width: 1000px) {
                a {
                    font-size: 28px;
                }
            }

            @media (max-width: 530px) {
                a {
                    font-size: 12px;
                }
            }
        }
    }

    .advantages {
        margin-bottom: 100px;

        .wrapper {

            .card-container {
                display: flex;
                gap: 20px;

                .card {
                    border: 5px solid white;
                    border-radius: 20px;
                    max-width: 350px;
                    padding: 10px;
                    text-align: right;
                    display: flex;
                    flex-direction: column;

                    h2 {
                        color: white;
                        margin-bottom: 5px;
                        text-align: center;
                    }

                    p {
                        color: white;
                        align-self: flex-end;
                        max-width: 200px;
                    }
                }

                .bg1 {
                    background: url('../assets/img/bg_card_1.png') no-repeat 120%/cover;

                }

                .bg2 {
                    background: url('../assets/img/bg_card_2.png') no-repeat 50%/cover;
                }

                .bg3 {
                    background: url('../assets/img/bg_card_3.png') no-repeat 50%/cover;
                }
            }

            @media (max-width: 860px) {
                .card-container {
                    flex-direction: column;

                    .card {
                        max-width: none;

                        p {
                            max-width: 340px;
                            height: 180px;
                        }
                    }
                }
            }

        }
    }

    .driver {
        margin-bottom: 100px;

        .wrapper {
            display: flex;

            img {
                max-width: 50%;
            }

            .container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                h2 {
                    color: white;
                    text-align: center;
                    font-size: 32px;
                    margin-bottom: 20px;

                }

                @media (max-width: 1000px) {
                    h2 {
                        font-size: 24px;
                    }
                }

                p {
                    color: white;
                    font-size: 24px;
                    text-align: center;
                    margin-bottom: 40px;
                }

                @media (max-width: 1000px) {
                    p {
                        font-size: 16px;
                    }
                }

                a {
                    color: white;
                    font-size: 40px;
                    cursor: pointer;
                    border: 5px solid white;
                    max-width: 100%;
                    border-radius: 20px;
                    padding: 10px;
                    z-index: 999;
                    transition: 0.5s;
                    text-align: center;
                    animation: scaleAnimation 2s infinite;

                    &:hover {
                        transform: scale(1.1);
                    }
                }

                @media (max-width: 1000px) {
                    a {
                        font-size: 24px;
                        max-width: 60%;
                        padding: 5px
                    }
                }

                @media (max-width: 700px) {
                    a {
                        font-size: 12px;
                    }
                }
            }
        }
    }

    .social {
        margin-bottom: 100px;

        .wrapper {
            h2 {
                color: white;
                text-align: center;
                font-size: 60px;
                margin-bottom: 20px;
            }

            @media (max-width: 1000px) {
                h2 {
                    font-size: 32px;
                }
            }

            .card-container {
                display: flex;
                gap: 20px;

                .card {
                    border: 5px solid white;
                    border-radius: 20px;
                    padding: 10px;
                    display: flex;
                    flex-direction: column;

                    img {
                        max-width: 100%;
                        margin-bottom: 20px;
                    }

                    a {
                        color: white;
                        font-size: 20px;
                        cursor: pointer;
                        max-width: 100%;
                        border-radius: 20px;
                        padding: 10px;
                        text-align: center;
                        transition: 0.3s;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }

                    @media (max-width: 680px) {
                        a {
                            font-size: 16px;
                        }
                    }
                }
            }

            @media (max-width: 530px) {
                .card-container {
                    flex-direction: column;
                }
            }
        }
    }
}

footer {
    background-color: $second-color;
    height: 70px;
    align-items: center;
    display: flex;

    .wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1440px;
        align-items: center;

        a {
            color: white;
            text-align: center;
            font-size: 16px;
        }

        .footer-social {
            display: flex;
            max-width: 200px;

            img {
                max-width: 35%;
            }
        }

        .logo {
            max-width: 15%;

            img {
                max-width: 80%;
            }
        }
    }
}

@keyframes scaleAnimation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}